<h1>Bin#index</h1>
<p>Find me in app/views/bin/index.html.erb</p>

<div class="card-product">

 <div class="card-product-infos">
   <h2 id = "card-title"> <%= BINname %> </h2>
   <p id= "card-description"> Product description with <strong>relevant info</strong> only.</p>
 </div>
</div>
