


<div class="container">
  <div class="map_and_details_show">
    <div class="details_show">
      <div class="btn btn-primary" href="#" role="button">retour aux résultats
      </div>
      <div class="used_bin">
      </div>
      <div class="details_bin">
      </div>
      <div class="review_bin">
      </div>
    </div>
    <div id="map" style="width: 100%; height: 600px;"
    data-markers="[<%= @marker.to_json %>]"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>

