<div class="container-show">
  <!-- button_show -->

    <h1 class="bin_name"> <span class="highlighted highlighted-yellow">PROFIL</span></h1>
</div>


<div class="profilreviewsmap">
  <div class="profilreview">

    <div class="profil">
      <div class=" binphoto">
        <%= cl_image_tag current_user.avatar, gravity: :north, crop: :fill%>
      </div>
      <div class="binprofilinfos">
        <h2> <strong><%= current_user.full_name %> </strong> </h2>
        <p>Nantes</p>
        <p>><%= current_user.email %></p>
      </div>
    </div>

    <div class="reviews">
      <h1 id="avis">Avis</h1>

    </div>
  </div>


  <div class="claimed-bin-container">
    <div class="claimed-bin">
    </div>
  </div>
</div>

