// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #7CACDC;
$yellow: #E5B31F;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$blue-home: #7CACDC;
