body {
  background-color: white;
}

.container-index {
  display: flex;
}


.container-address-button {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.card-maps-container{
  display: flex;
  margin-left: 24px;
  min-height: calc(100vh - 164px);
}

.container-adress-cards {
  flex: 0 0 63%;
  min-height: calc(100vh - 164px);
}

.title-bin-index {
  overflow: hidden;
  font-family: poppins;
  font-size: 35px;
  padding-top: 4px;
  padding-left: 12px;
  margin-left: 32px;
  justify-content: center;
  background-color: #eeb111;
  width: 32%;
  height: 5%;
  overflow: hidden;
  min-width: 470px;
  max-height: 50px;

}

.address {
  padding-left: 32px;
  padding-right: 20px;
  justify-content: space-between;
  width: 100%;
}

.form-control {
  margin-bottom: 24px;
  flex: 0 0 40%;
}

.map-bin-container-index {
  // background-color: red;
  // display: sticky;
  padding: 0 32px;
  position: sticky;
  top: 0;
  position: relative;
  height: 750px;
  flex: 0 0 37%

}


#map {
flex: 0 0 100%;
height: 100%;
}

.map-container {
  flex: 0 0 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}


.mapcards {
  max-width: 100%;
  max-height: 100%;
  background-position: center;
  background-size: cover;
  height:150px;
}

.mapcards:hover {
opacity: 1;
}


.button-container-index {
  display: flex;
  flex: 0 0 50%;
  padding: 16px 0px 0 32px;

}

.notfoundcontainer {
  display: flex;
}

.notfound {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 300px;
  margin-top: 64px;
  margin-left: 32px;
  margin-bottom: 32px;
  // padding: 30px;
  color: white;
  background-image: asset-url("desert.jpg");
  background-size: cover;

}

.button_notfound img {
  height: 40px;
  width: 40px;
  margin: 24px 0 -64px 32px;
  &:hover {
  transition: 0.4s;
  transform: scale(1.2);
  }
}

.poubelle-image {
  flex: 0 0 100%;
  background-image: cover;
}

.poubelle-image-cl {
  width: 100%;
  height: 11.5em;
}

.around-bin-text {
  font-family: poppins;
  font-size: 35px;
  padding-top: 4px;

}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
    flex-direction: column;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr ;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr ;
  }
}
