.info-page {
  display:flex;
  flex-direction: column;

}
.image-info {
  margin-right: 30px;
  margin-bottom : 40px;
  margin-top: 30px;
  justify-content: center;
  align-item: center;
  display: flex;
}

.image-info img {
  height : 400px;
  width: 1000px;
  font-family: popins;
}

.collapse-information {
  margin-bottom: 400px;
}

.info-text {
  display:flex;
  flex-direction: column;
  margin-left: 100px;
  margin-right: 100px;
}

#info-title {
  display:flex;
  align-item: center;
  text-align: center;
  justify-content:center;
  margin-top: 40px;
  margin-bottom: 40px;
  color:white;
  padding: 10px;
  border-radius: 5px;
  margin-left: 100px;
  margin-right: 100px;
  color: white;
}

.card-info-header {

}

.card-info-title {
  text-decoration: none;
  display:flex;
  justify-content: space-between;

}

.card-info-button {
  width: 10000px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  color:black;
  text-decoration:none;
}

.card-info-button:hover {
  text-decoration:none;
  color: #EEB111;
}

.dropdown img {
  height: 30px;
  width: 30px;

}

.imagebackground-info {
  background-repeat: no-repeat;
  background-position:100%;
}




