.infobox {
margin-right: 60px;
margin-left: 60px;
margin-bottom: 100px;

padding: 40px;
}

.info-trisac {
margin-right: 60px;
margin-left: 60px;
}
.info-picto {
  height: 80px;
  width: 80px;
  margin-right: 30px;
}
.info-text {
  display:flex;
  flex-direction: column;
  height: 100px;
  margin-bottom: 40px;


}

.info-card {
  padding: 50px;
  display:flex;
  flex-direction: row;


}
.lower-text-info {
  margin-bottom: 40px;
}
