.form-container {
  display: flex;
}

// .imgbackground {
//   background-image: cover;
// }

.signuplogo {
  display: flex;
  flex-direction: column;
}

.new-form {
}

.logotop {
  width: 160px;
  height: 160px;
  margin-left: auto;
  margin-right: auto;
  // margin-right: 40px;
  // margin-top: -50px;
}

.highlighted-yellow {
  color: black;
  background: #EEB111;
}
.highlighted {
  padding: 0 15px 3px;
  font-style: normal;
  font-family: poppins;
}

.formulaire  {
  opacity: 1;
  // margin: 100px 0 100px 0;
  margin-top: 150px;
  margin-bottom: 350px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 40px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.formulaire-inscription {
  opacity: 1;
  // margin: 100px 0 100px 0;
  margin-top: 50px;
  margin-bottom: 350px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 40px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.form {
 background-color:#FAFAFA;
 padding:30px;
 width:280px;
}

.form-inputs {
  margin-top: 20px;
  border: none;
  margin-right: 30px;
  margin-left: 30px;
}

.formfields {
  justify-content: space-around;
}

.form-actions {
  text-align: center;
}
