.card-container-show::-webkit-scrollbar{
    background-color:#fff;
    width:16px
}

.card-container-show::-webkit-scrollbar-thumb {
    background-color:#babac0;
    border-radius:16px;
    border:4px solid #fff
}


/* On mouse-over, add a deeper shadow */
.card-profile:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.profile-reviews:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.profile-bins:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/** PROFILE CARD **/

.profil-show {
  background-color: white;
  max-width: 260px;
  // margin: 0 8px 0 32px;
  // max-height: 400px;
}

.binphoto-show > img {
  width: 100%;
  box-shadow: 1px 0px 15px rgba(0,0,0,0.2);
  min-height: 260px;
  min-width: 260px;
  max-width: 260px;
  max-height: 260px;
}

.photo-infos {
  margin-top: 28px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  min-width: 260px;
  max-width: 260px;
  }

.card-profile {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width:400px;
  margin: auto;
  text-align: center;
  margin-left: 170px;
  min-height: 500px;
}
.profile-reviews {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  min-height: 500px;
}

.profile-bins {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  margin-right: 170px;
  min-height: 500px;
}

.title {
  color: grey;
  font-size: 18px;
}

.profile-infos {

}
.userinformation {
  margin-top: 50px;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}
.userinformation h1 {
  color: #EEB111
}
.userinformation h2 {
  color: #EEB111
}



// --------------- //

.map-bin-container-show {
  // background-color: red;
  // display: sticky;
  padding: 0 32px;
  position: sticky;
  top: 0;
  position: relative;
  height: 750px;
  flex: 0 0 37%
}

.card-maps-container-show{
  display: flex;
  margin-left: 0px;
  min-height: calc(100vh - 164px);
}

.card-container-show {
  justify-content: space-between;
  padding-left: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 770px;
    a:hover {
    text-decoration: none;
  }
}
