<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Footer links -->
      <div class="row text-center text-md-left mt-3 pb-3">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold"> <span class="highlighted highlighted-yellow">A propos</span></h6>
          <p>BIN here est une application lancée par 4 élèves de "Le Wagon" au cours d'un projet de groupe. Notre but est de référencer les poubelles les plus proches de chez vous afin de vous faciliter l'accès à celle-ci en fonction de vos déchets, mais aussi d'encourager le tri selectif.</p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold"> <span class="highlighted highlighted-yellow">Credits</span></h6>

          <p>
            <a href="#!">Map Box</a>
          </p>

        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold"> <span class="highlighted highlighted-yellow">Liens utiles</span></h6>
          <p>
            <a href="#!">Votre compte</a>
          </p>
          <p>
            <a href="#!">Informations sur le tri</a>
          </p>
          <p>
            <a href="#!">Help</a>
          </p>
        </div>

        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none">

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold"> <span class="highlighted highlighted-yellow">Contactez nous</span></h6>
          <p>
            <i class="fas fa-home mr-3"> </i> New York, NY 10012, US</p>
          <p>
            <i class="fas fa-envelope mr-3"> </i> infos@binhere.fr</p>
          <p>
            <i class="fab fa-facebook mr-3"> </i> Facebook </p>
          <p>
            <i class="fab fa-twitter mr-3"> </i> Twitter </p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Footer links -->

      <hr>

      <!-- Grid row -->


        <!-- Grid column -->


          <!--Copyright-->
          <p class="text-center text-md-left">

          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-5 col-lg-4 ml-lg-0">

          <!-- Social buttons -->


        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->

    <!-- Copyright -->
  </div>

  </footer>
  <!-- Footer -->
