<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url('<%= image_url("binherehomeflechepetite.png") %>');">
  <div class="container">
    <div class="banner-box">
    <h1 id="name"> BIN </h1> <h1 id="name2"> here? </h1>
    <p> Every waste has its bin </p>
    </div>
  </div>
</div>

