<h1 class="bin_name"> <span class="highlighted highlighted-yellow"> Informations sur le tri à Nantes </span> </h1>
<div class="info-trisac">
  <br>
  <p> <strong> Le dispositif Tri'Sac, qu'est ce que c'est? </strong>

  <br>
  <br>
  Le dispositif de collecte des déchets ménagers « Tri’Sac » est une première en France. Nantes Métropole a adopté ce système de collecte, sur le territoire de la ville de Nantes, pour développer le tri sélectif en milieu urbain (75 % d’habitat vertical à Nantes).
  <br>
  <br>
  Depuis septembre 2013, l’ensemble des habitants de l’agglomération bénéficie ainsi d’un système de collecte sélective (bacs jaunes, sacs jaunes ou Tri’Sac).
  <br>
   <br>
  <strong> Comment fonctionne le dispositif? </strong>
  <br>
   <br>
  Les Nantais trient les déchets grâce à deux sacs de couleurs : jaune pour les déchets recyclables (emballages hors verre, papier, carton en mélange) et bleu pour les non recyclables. Les sacs sont ensuite déposés dans le conteneur habituel puis collectés par le même véhicule et acheminés au centre de séparation. Sur place, les sacs sont séparés par couleur grâce au lecteur optique : les sacs jaunes sont acheminés vers le centre de tri pour le recyclage et les sacs bleus vers l’usine d’incinération Alcéa pour une valorisation énergétique.
  <br>
   <br>
  <strong> Les consignes : </strong>
  <br>
   <br>
  Il est impératif de n'utiliser que les sacs Tri'Sac de deux couleurs : bleu pour les déchets non recyclables, jaune pour les déchets recyclables, et de bien fermer le lien par un double nœud. Le sac jaune et le sac bleu sont à déposer dans votre bac habituel.
  <br>
   <br>
  Dans les sacs jaunes :
  - les papiers, cartons, cartonnettes (briques vides, emballages en carton plat, cartonnettes, papier, journaux, magazines, prospectus...)
  - les bouteilles et les flacons en plastique et leurs bouchons (bouteilles d'eau, de lait, d'huile alimentaire, de soda, flacons de lessive, de savon, de produits d'entretien...)
  - les emballages en métal (barquettes, canettes de soda, boîtes de conserve, bouteilles de sirop, bombes aérosols).
  <br>
   <br>
  Dans les sacs bleus :
  - les déchets ménagers non recyclés.
  Les sacs jaunes et bleus sont ensuite à déposer ensemble dans votre bac habituel.
  Les bouteilles et les bocaux en verre (sans bouchon, ni couvercle) sont à déposer dans les containers habituels.</p>
  <br>
  <br>
  <p> <strong> En bref: </strong> </p>
</div>


<div class="infobox">
    <div class="info-details row">
      <div class="left-col col-sm-6">
        <div class="info-card">
          <%= image_tag "pictogr_verre.png" , class: 'info-picto' %>
          <div class="info-text">
          <h4 id="couleur-poubelle"> Verre - Container vert </h4>
          <p> Il s'agit uniquement des bouteilles, bocaux, le cristal, les flacons, Gobelets, flacons de parfum, bocaux avec une monture métalique, et rien d'autre.</p>
          </div>
        </div>

        <div class="info-card">
          <%= image_tag "pictogr_plastique.png", class: 'info-picto' %>
          <div class="info-text">
          <h4 id="couleur-poubelle"> Plastique - Sac jaune </h4>
          <p>  Il s’agit des bouteilles et flacons en plastique, des  annuaire, baril de lessive, barquette aluminium, bouteille d'huile plastique, bouteille en plastique, bouteille produit ménager vide, brique alimentaire, cahier, carton, flacon produit ménager vide, flacon en plastique.</p>
          </div>
        </div>
      </div>

      <div class="right-col col-sm-6">
        <div class="info-card">
          <%= image_tag "pictogr_carton.png", class: 'info-picto' %>
          <div class="info-text">
          <h4 id="couleur-poubelle"> Carton - Sac jaune </h4>
          <p> Il s’agit des papiers, des cartons et briques alimentaires, annuaire, baril de lessive, barquette aluminium, boîte de conserve, boîte à oeufs en carton, cahier, carton, enveloppe,livre, magazine, revue, papier, sac en papier… </p>
          </div>
        </div>

        <div class="info-card lower-text-info">
          <%= image_tag "pictogr_menager.png", class: 'info-picto' %>
          <div class="info-text">
          <h4 id="couleur-poubelle"> Ordures ménagères - Sac bleue </h4>
          <p> Il s’agit des déchets non dangereux et non recyclables qui rentrent facilement dans votre bac. Ils ne sont pas issus d’activités spécifiques (ex : un matériau ou un objet issus de la déconstruction, de la mécanique…).</p>
          </div>
        </div>
      </div>
    </div>
</div>
