<div class="container info-page">
    <div class="info-titre">
      <h1> <strong>Informations sur le tri à Nantes </strong> </h1>
    </div>
    <br>
    <div class="info-content">
      <h2>Les modes de collecte à Nantes et en métropole </h2>
      <p> <h3>Les déchets recyclabes </h3>
      Les déchets recyclabes sont à déposer dans les bacs et sacs jaunes.

      papier/carton : briques vides, emballages en carton plat, cartonnettes, tous les papiers.
      Veiller à ce que les contenants soient bien vidés, sans film plastique et les papiers non souillés.
      plastiques : bouteilles et flacons en plastique avec les bouchons (bouteilles d'eau, de lait, de vinaigre, d'huile alimentaire, flacons de lessive, de produits d'entretien, de savon...)
      métal : barquettes, canettes de soda, boîtes de conserve, bouteilles de sirop, aérosols...

      <h3>Les déchets non recyclabes </h3>
      <p>Les autres déchets dits ordures ménagères sont à déposer dans les bacs et sacs bleus car non recyclables.

      sacs et pots en plastique (sacs de supermarché, pots de yaourts)
      barquettes en plastique ou en polystyrène, couches culottes ou autres textiles sanitaires (coton, mouchoir, essuie-tout...) </p>


      </p>
    </div>
  </div>
</div>
