.banner {
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  height: 850px;
  display: flex;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: 1;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

#name {
  font-size: 100px;
  color: black;
  font-family: 'lato', sans-serif;
}

#name2 {
  font-size: 100px;
  font-family: 'karla', sans-serif;
  color:white
}

.title {
  display:flex;
  align-item:left;
}

#slogan {
  font-family: poppins;
  // font-size: 2em;
  color: white;
  // line-height: 70px;
  padding-top: 0px;
  width: 620px;
  margin-top: 30px;
}

#call-to-action {
  font-family: poppins;
  font-size: 4em;
  color: white;
  font-weight: bolder;
  line-height: 50px;
}

#vos-dechets {
  font-family: poppins;
  font-size: 4em;
  color: white;
  font-weight: bolder;
  line-height: 50px;
  color: #eeb111;


}
.lighted-yellow {
  color: black;
  background: #EEB111;
}
.lighted {
  padding: 0 15px 3px;
  font-size: 4em;
  font-weight: bolder;
  // line-height: 80px;
  font-family: poppins;
}
