.verre {
  width: 20px;
  height: 100vh;
  background-color: green;
  background-size: cover;
  flex: 0 0 1%;
}

.papier {
  height: 100vh;
  background-color: purple;
  background-size: cover;
  flex: 0 0 1%;
}

.menager {
  width: 20px;
  height: 100vh;
  background-color: blue;
  background-size: cover;
  flex: 0 0 1%;
}

.plastique {
  width: 20px;
  height: 100vh;
  background-color: #f8c420;
  background-size: cover;
  flex: 0 0 1%;
}
