.verre {
  width: 20px;
  height: 100vh;
  background-color: #46a84d;
  background-size: cover;
  flex: 0 0 1%;
}

.carton {
  height: 100vh;
  background-color: #f8c420;
  background-size: cover;
  flex: 0 0 1%;
}

.menager {
  width: 20px;
  height: 100vh;
  background-color: #002a6f;
  background-size: cover;
  flex: 0 0 1%;
}

.plastique {
  width: 20px;
  height: 100vh;
  background-color: #51C2D2;
  background-size: cover;
  flex: 0 0 1%;
}
