.verre{
  color: green;
  width: 20pxpx;
  height: 100vh;
  background-color: green;
  background-size: cover;
  flex: 0 0 5%;
}

.papier{
  color: purple;
  width: 20pxpx;
  height: 100vh;
  background-color: green;
  background-size: cover;
  flex: 0 0 5%;
}

.menager {
  color: bleu;
  width: 20pxpx;
  height: 100vh;
  background-color: green;
  background-size: cover;
  flex: 0 0 5%;
}

.plastique {
  color: jaune;
  width: 20pxpx;
  height: 100vh;
  background-color: green;
  background-size: cover;
  flex: 0 0 5%;
}
