
#verre {
  border-bottom:10px solid #46a84d;
}

#plastique {
  border-bottom:10px solid #51C2D2;
}

#carton {
  border-bottom:10px solid #9a5a16 ;
}

#menagere {
  border-bottom:10px solid #002a6f;
}

#plus {
border-bottom:10px solid #aa0024;
}

#info {
border-bottom:10px solid black;
}

// texte sur les cards

#type-verre {
  color: #46a84d;
}

#type-plastique {
  color: #51C2D2;
}

#type-carton {
  color: #9a5a16 ;
}

#type-menagere {
  color: #002a6f;
}

#type-plus {
  color: #aa0024;
}

#type-information {
  color: black;
}

.card-background-homepage:hover {
  background-color: white;

}
// text-inside-card
.card-name-homepage {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display:flex;
  justify-content:space-around;
  align-items:center;
}

.card-background-homepage:hover .card-name-homepage{
  opacity: 1;
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: 0.2s;

}
