.navbar-lewagon {
  justify-content: space-between;
  background-color: rgba(0,0,0,0);
  opacity: 1;
  font-family: poppins;
  font-size: large;
  color: black
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.logo:hover {
  transform: scale(1.2);
}

