#profil-name {
  color: black;
}

#city {
  padding-left: 1px;
  padding-bottom: 5px;
  font-size: 18px;
}

.city-profil {
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 4px;
}

.menu-profil {
  font-weight: bold;
  margin-top: 29px;
  margin-bottom: 4px;
  padding-left: 15px
}

#created {
  font-size: 18px;
}

body {
  font-family: "poppins";
}
